{% extends "layout.twig" %}

{% block title %}Student Unavailability - {{ parent() }}{% endblock %}

{% block header_title %}Manage Unavailability for {{ student.firstName }} {{ student.lastName }}{% endblock %}

{% block content %}
<div class="neumorphic-container">
    <h2 class="neumorphic-title-red">Manage Unavailability for {{ student.firstName }} {{ student.lastName }}</h2>
	<form action="{{ url_for('students.unavailability', {'id': student.id}) }}" method="POST" class="neumorphic-form">
		<div class="neumorphic-form-group">
			<label for="unavailability">Unavailable Dates</label>
			<input type="text" id="date-range" name="unavailability" placeholder="Select Date Range">
		</div>
		<button type="submit" class="neumorphic-button">Update Unavailability</button>
	</form>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const dateRangeInput = document.getElementById('date-range');
    if (dateRangeInput) {
        flatpickr(dateRangeInput, {
            mode: "range",
            dateFormat: "Y-m-d",
            onChange: function(selectedDates, dateStr, instance) {
                if (selectedDates.length === 2) {
                    document.getElementById('start_date').value = flatpickr.formatDate(selectedDates[0], "Y-m-d");
                    document.getElementById('end_date').value = flatpickr.formatDate(selectedDates[1], "Y-m-d");
                }
            }
        });
    }
});
</script>
{% endblock %}