<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Holberton Ritual Manager{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
</head>
<body>
<header class="neumorphic-header">
    <h1 class="neumorphic-title">{% block header_title %}{% endblock %}</h1>
	<div class="hamburger">
		<span></span>
		<span></span>
		<span></span>
	</div>
 <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Accueil</a></li>
            {% if session.user %}
			{% if session.user.role == 'student' %}
				<li class="dropdown">
					<a href="#" class="dropbtn">Forms</a>
					<div class="dropdown-content">
						<a href="{{ url_for('sod_feedback.form', {'student_id': session.user.id}) }}">SOD Feedback</a>
						<a href="{{ url_for('standup_feedback.form') }}">Stand-up Feedback</a>
					</div>
				</li>
			{% endif %}
                <li><a href="{{ url_for('auth.logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.loginPage') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; {{ "now"|date("Y") }} - Fassih Belmokhtar - Hoblerton Ritual Manager. Tous droits réservés.</p>
</footer>

{% block javascripts %}
<script src="https://www.fassih.fr/assets/js/script.js"></script>
{% endblock %}

</body>
</html>
